/*HEADER*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #dddddd;
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  align-items: center;
  text-align: center;
  /*grid-template-rows:*/
}
h1, h3 {
  margin:0;
  padding:0;
}
header div, header h1 {
  background-color: #5848A0;
  border: 1px solid black;
  color: white;
}
header div img{
  height: 27px;
  width: auto;
}
/*CONTENT*/
.about-content{
  padding-top: 30px;
  background-color: #FFE474;
}
.portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  background-color: #5848A0;
}
.portfolio div{
  border: 1px solid black;
  text-align: center;
}
.portfolio div img{
  height: 100px;
  width: auto;

}
